.header{
    background-color: #377E80;
    padding: 7px;
}
.heading{
    text-align: center;
    color: #FFFD53;
}

.card{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
article{
   
   flex: 0 1 27%; 
   display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #FFFFFF;
    /* justify-content: space-between; */
}
.img{
    width: 20%;
    margin: 20px auto;
}
body{
    background-color: #FDF5E8;
}
h2{
    font-size: 17px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #377E80;
    padding: 10px;
    margin: 10px auto;
    border-radius: 6px;
}